<div class="container p-3 shadow-diffuse">
  <h1 class="text-center ">Pagos</h1>
  <hr class="mt-2">
  <div class="table-responsive" *ngIf="!mostrarSpinner">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center" scope="col">#</th>
          <th class="text-center" scope="col"> Fecha </th>
          <th class="text-center" scope="col"> Pago </th>
          <th class="text-center" scope="col"> Estado </th>
          <th class="text-center" scope="col"> Pagar </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of payment;let i = index">
          <th class="text-center"  scope="row">{{i+1}}</th>
          <td class="text-center" >{{item.created_at | date}}</td>
          <td class="text-center" >{{item.price |currency}}</td>
          <td class="text-center" > <a style="text-decoration: none;" ><p-tag severity="Success" value="{{item.status | cambiarnombre}}" [rounded]="true"></p-tag></a></td>
          <td class="text-center" > <a  (click)="Pago(item.id)"  style="text-decoration: none; cursor: pointer;" ><p-tag  severity="Success" value="Pagar" [rounded]="true"></p-tag></a></td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="spinner" *ngIf="mostrarSpinner"   >

    <p-progressSpinner ></p-progressSpinner>

  </div>

</div>
